/* CurrencyDropdown.css */
.currency-dropdown {
  display: inline-block;
  max-width: 120px; /* Giới hạn độ rộng dropdown */
}

.currency-dropdown select {
  width: 100%;
  border: none;
  background: #f0f2f6;
  padding: 6px 8px;
  font-weight: 600;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: nowrap;
  color: #000; 
}


.currency-dropdown select:hover {
  background: #e6e8eb;
}

.currency-dropdown option {
  font-size: 14px;
  padding: 6px;
}
